# Time4

iMDb + Netflix, HBO, (Amazon), Disney+

In [1]:
import pandas as pd
import numpy as np
import requests
from bs4 import BeautifulSoup
import requests
import time
import random
import re
from dateutil import parser

In [2]:
# Load dataset
# netflix = pd.read_csv('titles_netflix.csv', index_col=False)
# disney = pd.read_csv('titles_disney.csv', index_col=False)
# hbo = pd.read_csv('hbo_shows_movies.csv', index_col=False)

# imdb = pd.read_csv('imdb_df.csv', index_col=False)

In [3]:
# Load dataset that is already clean
imdb = pd.read_csv('1imdb_final.csv', index_col=False)
imdb

,Unnamed: 0,title,director,duration,rating,genre,type,cleaned_title,disney+,netflix,hbo
0,0,Toy Story,John Lasseter,1:21,8.3,"['Animation', 'Adventure', 'Comedy']",movie,toy story,Yes,No,No
1,1,Amadeus,Milos Forman,2:40,8.3,"['Biography', 'Drama', 'Music']",movie,amadeus,No,No,No
2,2,American Beauty,Sam Mendes,2:2,8.3,['Drama'],movie,american beauty,No,No,No
3,3,Braveheart,Mel Gibson,2:58,8.3,"['Biography', 'Drama', 'History']",movie,braveheart,No,No,No
4,4,Inglourious Basterds,Quentin Tarantino,2:33,8.3,"['Adventure', 'Drama', 'War']",movie,inglourious basterds,No,Yes,No
...,...,...,...,...,...,...,...,...,...,...,...
258,258,Westworld,-,1:2,8.6,"['Drama', 'Mystery', 'Sci-Fi']",show,westworld,No,No,Yes
259,259,Blackadder the Third,-,3,8.6,['Comedy'],show,blackadder the third,No,No,No
260,260,Daredevil,-,54,8.6,"['Action', 'Crime', 'Drama']",show,daredevil,Yes,No,No
261,261,This Is Us,-,45,8.6,"['Comedy', 'Drama', 'Romance']",show,this is us,No,No,No
262,262,Panchayat,-,35,8.8,"['Comedy', 'Drama']",show,panchayat,No,No,No

In [4]:
# Check and clean dataset

In [5]:
# netflix

In [6]:
# hbo = hbo.rename({'0':'title'}, axis=1)
# hbo

In [7]:
# disney

In [8]:
imdb.drop(columns='Unnamed: 0', inplace=True)
imdb

,title,director,duration,rating,genre,type,cleaned_title,disney+,netflix,hbo
0,Toy Story,John Lasseter,1:21,8.3,"['Animation', 'Adventure', 'Comedy']",movie,toy story,Yes,No,No
1,Amadeus,Milos Forman,2:40,8.3,"['Biography', 'Drama', 'Music']",movie,amadeus,No,No,No
2,American Beauty,Sam Mendes,2:2,8.3,['Drama'],movie,american beauty,No,No,No
3,Braveheart,Mel Gibson,2:58,8.3,"['Biography', 'Drama', 'History']",movie,braveheart,No,No,No
4,Inglourious Basterds,Quentin Tarantino,2:33,8.3,"['Adventure', 'Drama', 'War']",movie,inglourious basterds,No,Yes,No
...,...,...,...,...,...,...,...,...,...,...
258,Westworld,-,1:2,8.6,"['Drama', 'Mystery', 'Sci-Fi']",show,westworld,No,No,Yes
259,Blackadder the Third,-,3,8.6,['Comedy'],show,blackadder the third,No,No,No
260,Daredevil,-,54,8.6,"['Action', 'Crime', 'Drama']",show,daredevil,Yes,No,No
261,This Is Us,-,45,8.6,"['Comedy', 'Drama', 'Romance']",show,this is us,No,No,No
262,Panchayat,-,35,8.8,"['Comedy', 'Drama']",show,panchayat,No,No,No

In [9]:
# imdb.duration.unique()

In [10]:
# Convert hh:mm into minutes
def changing_time(row):
    if ":" in row:
        ti_li=row.split(":")
        if len(ti_li[1])!=1:
            row = (int(ti_li[0])*60)+int(ti_li[1])
            return row 
        elif len(ti_li[1])==1:
            row = (int(ti_li[0])*60)+(int(ti_li[1])*10)
            return row
    elif len(row)==1:
        return int(row)*60
    else:
        return int(row)

In [11]:
# Save the duration in minutes in a new column
imdb['duration_min'] = imdb['duration'].apply(changing_time)
imdb

,title,director,duration,rating,genre,type,cleaned_title,disney+,netflix,hbo,duration_min
0,Toy Story,John Lasseter,1:21,8.3,"['Animation', 'Adventure', 'Comedy']",movie,toy story,Yes,No,No,81
1,Amadeus,Milos Forman,2:40,8.3,"['Biography', 'Drama', 'Music']",movie,amadeus,No,No,No,160
2,American Beauty,Sam Mendes,2:2,8.3,['Drama'],movie,american beauty,No,No,No,140
3,Braveheart,Mel Gibson,2:58,8.3,"['Biography', 'Drama', 'History']",movie,braveheart,No,No,No,178
4,Inglourious Basterds,Quentin Tarantino,2:33,8.3,"['Adventure', 'Drama', 'War']",movie,inglourious basterds,No,Yes,No,153
...,...,...,...,...,...,...,...,...,...,...,...
258,Westworld,-,1:2,8.6,"['Drama', 'Mystery', 'Sci-Fi']",show,westworld,No,No,Yes,80
259,Blackadder the Third,-,3,8.6,['Comedy'],show,blackadder the third,No,No,No,180
260,Daredevil,-,54,8.6,"['Action', 'Crime', 'Drama']",show,daredevil,Yes,No,No,54
261,This Is Us,-,45,8.6,"['Comedy', 'Drama', 'Romance']",show,this is us,No,No,No,45
262,Panchayat,-,35,8.8,"['Comedy', 'Drama']",show,panchayat,No,No,No,35

In [12]:
# Add Netlix to the df
# netflix_list = list(netflix['Netflix Tiles'])
# def streaming_netflix(row):
#         if row in netflix_list:
#             return 'Yes'
#         else:
#             return 'No'

# imdb['Netflix']=imdb['title'].apply(streaming_netflix)
# imdb[imdb['Netflix'] == 'Yes']#.head()

In [13]:
# Add HBO to the df
# hbo_list = list(hbo['title'])
# def streaming_hbo(row):
#         if row in hbo_list:
#             return 'Yes'
#         else:
#             return 'No'

# imdb['HBO']=imdb['title'].apply(streaming_hbo)
# # imdb.head()

In [14]:
# Add Disney to the df
# disney_list = list(disney['Disney Titles'])
# def streaming_disney(row):
#         if row in disney_list:
#             return 'Yes'
#         else:
#             return 'No'

# imdb['Disney+']=imdb['title'].apply(streaming_disney)
# # imdb.head()
# # imdb[imdb['Disney+'] == 'Yes']

In [15]:
imdb = imdb[['type',"title", "director", "duration", 'duration_min', 'genre', 
             'hbo','disney+', 'netflix', 'rating']]
# imdb = imdb.rename(columns={'HBO':'hbo','Disney+':'disney+', 'Netflix':'netflix'})
imdb.head()

,type,title,director,duration,duration_min,genre,hbo,disney+,netflix,rating
0,movie,Toy Story,John Lasseter,1:21,81,"['Animation', 'Adventure', 'Comedy']",No,Yes,No,8.3
1,movie,Amadeus,Milos Forman,2:40,160,"['Biography', 'Drama', 'Music']",No,No,No,8.3
2,movie,American Beauty,Sam Mendes,2:2,140,['Drama'],No,No,No,8.3
3,movie,Braveheart,Mel Gibson,2:58,178,"['Biography', 'Drama', 'History']",No,No,No,8.3
4,movie,Inglourious Basterds,Quentin Tarantino,2:33,153,"['Adventure', 'Drama', 'War']",No,No,Yes,8.3

In [16]:
# Create a function that take the input of time and convert it into minutes

# time_input = input('How much time you have: ').lower().strip().replace(' ', '')

def get_time(user_input):
    if ':' in user_input:
        hour = int(parser.parse(user_input).hour)
        min = int(parser.parse(user_input).minute)
        total_time = hour * 60 + min

    elif ('h' in user_input) & ('m' in user_input):
        user_input = re.sub('m.*', 'm', user_input)
        hour = int(parser.parse(user_input).hour)
        min = int(parser.parse(user_input).minute)
        total_time = hour * 60 + min

    elif 'h' in user_input:
        if user_input.index('h') != user_input[-1]:
            hour = int(parser.parse(user_input).hour)
            min = int(parser.parse(user_input).minute)
            total_time = hour * 60 + min
        else:
            hour = int(parser.parse(user_input).hour)
            total_time = hour * 60

    elif 'm' in user_input:
        user_input = re.sub('m.*', 'm', user_input)
        min = int(parser.parse(user_input).minute)
        total_time = min

    elif ((len(user_input) > 1) |(len(user_input) == 1)) & (re.search('[a-zA-Z]', user_input) == None):
        what = input("do you mean hours or min: ").strip()[0]
        if what == 'h':
            hour = int(user_input)
            total_time = hour * 60
        else:
            min = int(user_input)
            total_time = min
    return total_time

# print(get_time(time_input))

In [17]:
# Create a funtion that takes input of duration, genre and platform 
# and returns top 10 movies and shows from iMDb

def time4():
    # Define inputs
    a = input('How much time for a good time do you have? ').lower().strip().replace(' ', '')
    time_input = get_time(a)
    platform_input = input("Which platform you use? HBO, Netflix, Disney+").lower().strip()
    genre_input = input('What do you feel like watching? ').capitalize().strip()

    # Filter the df according to the inputs
    select_genre = imdb['genre'].str.contains(f'{genre_input}', na=False)
    select_dur = imdb['duration_min'] <= int(time_input)
    select_platform = imdb[f'{platform_input}'] == 'Yes'
    
    # Output top10
    selection = imdb[(select_genre) & (select_dur) & (select_platform)]
    selection = selection.sort_values(by='rating', axis=0, ascending=False).head(10)
    return selection.reset_index().drop(columns='index')

In [18]:
#youtube function
# Goggle API key
api_key = "AIzaSyA9Tb_efqIGXwKaDmZWN2nz5kXw_Qg1cmI"

from apiclient.discovery import build
import requests
import webbrowser
youtube = build('youtube','v3',developerKey = api_key)

def get_trailer(movie_show):
    trail = input('Do you want to watch the trailer? ').lower()
    if (trail == 'yes') | (trail == 'y'):
        request = youtube.search().list(q=f'{movie_show}+trailer',part='snippet',type='video')
        res = request.execute()
        video_id = res['items'][0]['id']['videoId']
        url_yt = f'https://www.youtube.com/watch?v={video_id}'
        print(url_yt)
        return webbrowser.open_new(url_yt)
    elif (trail == 'no') | (trail == 'n'):
        print('Enjoy your time! See you next time')
    else:
        print('Try again')
        get_trailer(movie_show)

In [ ]:
movie_table = time4()
while movie_table.shape[0] == 0:
        display('No movies. Try again')
        movie_table = time4()
else:
    display(movie_table)
    movie = input('Which one you wanna watch? ')
    get_trailer(movie)